In [121]:
import pandas as pd
import numpy as np
import pickle

In [122]:
f = open("./final_data.p", "rb")
data = pickle.load(f)

In [123]:
data.head()

,fips_code,county,total_2008,dem_2008,gop_2008,oth_2008,total_2012,dem_2012,gop_2012,oth_2012,...,Family Income 35-40K,Family Income 40-45K,Family Income 45-50K,Family Income 50-60K,Family Income 60-75K,Family Income 75-100K,Family Income 100-125K,Family Income 125-150K,Family Income 150-200K,Family Income > 200K
0,26041,Delta County,19064.0,9974.0,8763.0,327.0,18043.0,8330.0,9533.0,180.0,...,453.0,572.0,528.0,1217.0,1261.0,1697.0,623.0,401.0,234.0,96.0
1,48295,Lipscomb County,1256.0,155.0,1093.0,8.0,1168.0,119.0,1044.0,5.0,...,20.0,29.0,33.0,79.0,123.0,116.0,91.0,54.0,56.0,46.0
2,1127,Walker County,28652.0,7420.0,20722.0,510.0,28497.0,6551.0,21633.0,313.0,...,1041.0,919.0,987.0,1570.0,2209.0,1819.0,1210.0,745.0,437.0,339.0
3,48389,Reeves County,3077.0,1606.0,1445.0,26.0,2867.0,1649.0,1185.0,33.0,...,96.0,119.0,75.0,213.0,320.0,350.0,188.0,69.0,64.0,79.0
4,56017,Hot Springs County,2546.0,619.0,1834.0,93.0,2495.0,523.0,1894.0,78.0,...,50.0,69.0,84.0,122.0,234.0,112.0,148.0,89.0,36.0,58.0

In [126]:
X = data.ix[:, 14:]

In [130]:
X.head()

,# of Housing Units,# White,# White Male,# White Female,# Black,# Black Male,# Black Female,# White Not Hispanic,# White Not Hispanis Male,# White Not Hispanis Female,...,Family Income 35-40K,Family Income 40-45K,Family Income 45-50K,Family Income 50-60K,Family Income 60-75K,Family Income 75-100K,Family Income 100-125K,Family Income 125-150K,Family Income 150-200K,Family Income > 200K
0,3040.0,34754.0,17231.0,17523.0,121.0,60.0,61.0,34581.0,17137.0,17444.0,...,453.0,572.0,528.0,1217.0,1261.0,1697.0,623.0,401.0,234.0,96.0
1,478.0,2980.0,1577.0,1403.0,17.0,8.0,9.0,2361.0,1194.0,1167.0,...,20.0,29.0,33.0,79.0,123.0,116.0,91.0,54.0,56.0,46.0
2,2700.0,60224.0,29335.0,30889.0,3764.0,1781.0,1983.0,59498.0,28884.0,30614.0,...,1041.0,919.0,987.0,1570.0,2209.0,1819.0,1210.0,745.0,437.0,339.0
3,556.0,11899.0,6966.0,4933.0,750.0,578.0,172.0,2677.0,1795.0,882.0,...,96.0,119.0,75.0,213.0,320.0,350.0,188.0,69.0,64.0,79.0
4,326.0,4661.0,2298.0,2363.0,12.0,1.0,11.0,4535.0,2247.0,2288.0,...,50.0,69.0,84.0,122.0,234.0,112.0,148.0,89.0,36.0,58.0

In [135]:
del X["Population"]

In [147]:
X = X.apply(lambda x: x / data["Population"])

In [148]:
voter_turn_out = data["total_2016"] - data["total_2012"]

In [149]:
from sklearn.linear_model import LinearRegression

In [150]:
X.shape

(2628, 119)

In [158]:
linear = LinearRegression()

In [159]:
linear.fit(X, voter_turn_out)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [160]:
for name, val in sorted(zip(X.columns, linear.coef_), key=lambda x: x[1], reverse=True):
    print((name, val))

('Median Age Male', 3527386.0299658948)
('Median Age Female', 1490393.5966894927)
('Rail Road', 881437.66146147694)
('Family Income > 200K', 304990.08713594591)
('Moved From Abroad White', 267502.00375204743)
('HS or equal', 265866.51162106113)
('Total Moving White', 258568.70454609708)
('Other State-Bachelor', 249590.51199860801)
('Graduate', 245747.16516818199)
('Family Income 125-150K', 228419.92306020926)
('Family Income 150-200K', 225019.83121520071)
('No Vehicle Owned', 222998.41806845431)
('In State-Less than HS', 213484.41168846484)
('Family Income 100-125K', 209364.59985931509)
('Other State-Less than HS', 172594.16588157462)
('In State-Bachelor', 163692.91933648489)
('Family Income 75-100K', 136615.99178435892)
('Public Transportation', 104600.14325030538)
('Income < 10K', 92003.62800139327)
('Family Income 60-75K', 84445.569386091054)
('Other State-Some College', 81802.963755326578)
('In State-Some College', 81211.617145977856)
('# Male', 70939.649665328761)
('Total Reporing 0 Income', 62977.643640808295)
('2 vehicles', 58690.10396928736)
('1 vehicle', 56313.203408832196)
('Total In Poverty Pool', 56136.953273280291)
('Moved From Different State', 55850.787972176651)
('# Black Female', 54708.182004928152)
('# White Female', 43658.013546311049)
('Income 15-25K', 43223.065082972724)
('Total Reporting Income', 38872.828784319689)
('Moved Within County White', 38664.564327281027)
('Family Income 40-45K', 36890.498005008674)
('Work at Home', 36849.565431972733)
('100% below povery line', 36457.865028111031)
('Moved Within Same State White', 33128.669010704616)
('Income 25-35K', 30166.719216452446)
('Education Count', 27607.410222909974)
('3 vehicles', 27359.680615825579)
('# White Not Hispanis Male', 23611.204910852332)
('Income 10-15K', 23062.074355275603)
('Income 35-50K', 20734.788253280858)
('Same house 1 year ago', 19949.663069255417)
('Family Income 50-60K', 14065.731406431121)
('Drive Alone', 13879.413394815347)
('5 or more vehicles', 12834.069515507086)
('1-1.5X of poverty line', 11601.256755220704)
('# of Housing Units', 10684.61754679974)
('At above 150% poverty line', 8077.8314909676556)
('Family Income 25-30K', 8032.8369792546)
('4 vehicles', 6586.5528825917281)
('Family Income 10-15K', 5804.8551049151429)
('Work in State', 5187.6552739000181)
('Foreign Born below 100% poverty', 4483.0110897222185)
('# Hispanic Female', 4316.04216420171)
('Work in County', 3621.1192578535411)
('# Black', 3069.3229529590581)
('Work outside County', 1566.536016710219)
('Median Income', 833.90387975529302)
('Median Income Foreign Born', 207.00625518523157)
('Median Income Born In State', 154.91640627523884)
('Median Income Born Outside US: Native', 20.597368171031121)
('Family Income < 10K', -1122.1369627434469)
('Family Income 20-25K', -1226.5453780963289)
('Median Income Born Other State', -1234.9574718028307)
('Family Income 30-35K', -1395.7365155121661)
('Family Income 45-50K', -5056.3895339143492)
('# Hispanic', -16807.973782786117)
('Same house 1 year ago White', -19210.082276761794)
('Total Means of Transportation Work', -19721.934778566152)
('Born Other State at/above 1.5X poverty line', -20612.36355607002)
('# Hispanic Male', -21124.015947832355)
('Moved Within County', -21626.536424387945)
('Foreign Born 1-1.5X of poverty line', -23397.322444192483)
('Work by car: truck: van', -23820.997928099823)
('Total Reporting with Income', -24104.814857132966)
('Work outside State', -24909.590053356951)
('# White Not Hispanic', -26794.025491268912)
('Separated', -27514.373212030572)
('Income 50-65K', -28975.317503691243)
('Moved Within Same State', -33465.184411893133)
('Foreign Born at/above 1.5X poverty line', -36889.024940506788)
('Divorced', -37299.792854170875)
('Total Born In State education', -37546.446842534082)
('Car pooled', -37700.411323854118)
('Citizen: born in US', -42198.504336275975)
('# White Not Hispanis Female', -50405.23040224037)
('Family Income 35-40K', -51169.15446491116)
('# Black Male', -51638.859050843246)
('Born Other State 1-1.5X of poverty line', -54056.415349377639)
('Born In State at/above 1.5X poverty line', -56580.736702636001)
('Currently Married', -57128.798014002052)
('Moved From Different State White', -61516.450268284651)
('Born In State 1-1.5X of poverty line', -62234.30142784302)
('Born in Other State Education', -67023.218866435811)
('Citizen by Naturalization', -68294.658002564291)
('Foreign born naturalized', -68294.658002662036)
('# Female', -70939.649665181423)
('Never Married', -73385.07367710078)
('Some College-AA', -81566.285070310827)
('Walked', -84612.598506448208)
('Income 65-75K', -85082.441188446479)
('Born In State below 100% poverty', -96948.066401189426)
('Born Other State below 100% poverty', -99772.293683711207)
('Income > 75K', -119237.33107505157)
('# White', -130426.29150621012)
('# White Male', -174084.30506550585)
('Bachelor', -188323.64846542684)
('Total Moving', -190125.40137798502)
('Moved From Abroad', -210834.13158236735)
('Less Than HS', -214116.33303281659)
('In State-Graduate', -229602.065484083)
('Other State-HS or equal', -239488.10958177471)
('In State-HS or equal', -266333.32952990767)
('Bicycle', -273655.57626573544)
('Ferry Boat', -307226.93080449919)
('Other State-Graduate', -331522.7509196091)
('Median Age', -5011143.8619590644)

In [161]:
from sklearn.linear_model import LassoCV

In [162]:
lasso = LassoCV()

In [164]:
lasso.fit(X, voter_turn_out)

/opt/conda/lib/python3.5/site-packages/sklearn/linear_model/coordinate_descent.py:479: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)

LassoCV(alphas=None, copy_X=True, cv=None, eps=0.001, fit_intercept=True,
    max_iter=1000, n_alphas=100, n_jobs=1, normalize=False, positive=False,
    precompute='auto', random_state=None, selection='cyclic', tol=0.0001,
    verbose=False)

In [169]:
keep_vars = []

for name, val in zip(X.columns, lasso.coef_):    
    if val != 0:
        keep_vars.append(name)

In [170]:
linear = LinearRegression()

In [171]:
linear.fit(X[keep_vars], y)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [172]:
for name, val in sorted(zip(X.columns, linear.coef_), key=lambda x: x[1], reverse=True):
    if val != 0:
        print((name, val))

('Other State-Less than HS', 153835.48684836502)
('# Hispanic Male', 104398.6050783024)
('Total Reporting Income', 97516.669941037922)
('Other State-Bachelor', 78723.800301144423)
('# Female', 76520.067351112346)
('In State-Some College', 74757.104745037039)
('Other State-Graduate', 67699.326989439491)
('Other State-Some College', 57047.995538552721)
('# Hispanic Female', 48568.23806044356)
('Median Age Male', 43713.529341899753)
('Other State-HS or equal', 42556.725064011342)
('In State-HS or equal', 34664.628344767858)
('Divorced', 34210.787776993282)
('# of Housing Units', 32481.828833846601)
('Graduate', 27934.96635801471)
('Median Age Female', 14719.334554924908)
('# White Male', 12019.596271139255)
('In State-Graduate', 8485.3685540876395)
('Median Age', 7247.5357488882382)
('# Black', 5560.9469048359624)
('# Black Male', 4548.8297617578401)
('Some College-AA', 3451.4785371167895)
('Bachelor', 1396.1108441553417)
('Citizen by Naturalization', 414.53045064552731)
('Never Married', 46.910726509620964)
('Currently Married', 33.860701001947525)
('Citizen: born in US', -17.324386043263846)
('Foreign born naturalized', -421.68509249390979)
('Born in Other State Education', -1624.6758759818833)
('# Male', -3260.4574348199767)
('# White Female', -13296.711918547271)
('Separated', -19576.018044213808)
('# White', -23504.739459924207)
('# Hispanic', -35772.197299720385)
('Total Born In State education', -37900.758789068692)
('# Black Female', -38463.827845670843)
('HS or equal', -45573.36695198065)
('In State-Less than HS', -51647.116215721886)
('Less Than HS', -56621.490293575669)
('Education Count', -60718.090703985799)
('# White Not Hispanic', -65890.386770922851)
('# White Not Hispanis Female', -73330.525098966551)
('In State-Bachelor', -105562.19170057398)
('# White Not Hispanis Male', -105931.74888735462)

How some of these can be interpretted.

('# Female', 76520.067351112346)

After adjusting for other predictors, each 1% increase in the number of females in a county is associated with an increase in the mean voter turn out from 2012 to 2016 by 76520 voters.

In [91]:
diff_voting_2012 = data["dem_2012"] - data["gop_2012"]
diff_voting_2016 = data["dem_2016"] - data["gop_2016"]

y = diff_voting_2016 - diff_voting_2012

In [99]:
ratio_2012 = data["dem_2012"] / data["total_2012"] - 0.5
ratio_2016 = data["dem_2016"] / data["total_2016"] - 0.5

ratio_change = diff_voting_2016 - diff_voting_2012