In [1]:
import pandas as pd
import numpy as np
import pickle

In [2]:
f = open("./final_data.p", "rb")
data = pickle.load(f)

In [3]:
data.head()

,fips_code,county,total_2008,dem_2008,gop_2008,oth_2008,total_2012,dem_2012,gop_2012,oth_2012,...,Family Income 35-40K,Family Income 40-45K,Family Income 45-50K,Family Income 50-60K,Family Income 60-75K,Family Income 75-100K,Family Income 100-125K,Family Income 125-150K,Family Income 150-200K,Family Income > 200K
0,26041,Delta County,19064.0,9974.0,8763.0,327.0,18043.0,8330.0,9533.0,180.0,...,453.0,572.0,528.0,1217.0,1261.0,1697.0,623.0,401.0,234.0,96.0
1,48295,Lipscomb County,1256.0,155.0,1093.0,8.0,1168.0,119.0,1044.0,5.0,...,20.0,29.0,33.0,79.0,123.0,116.0,91.0,54.0,56.0,46.0
2,1127,Walker County,28652.0,7420.0,20722.0,510.0,28497.0,6551.0,21633.0,313.0,...,1041.0,919.0,987.0,1570.0,2209.0,1819.0,1210.0,745.0,437.0,339.0
3,48389,Reeves County,3077.0,1606.0,1445.0,26.0,2867.0,1649.0,1185.0,33.0,...,96.0,119.0,75.0,213.0,320.0,350.0,188.0,69.0,64.0,79.0
4,56017,Hot Springs County,2546.0,619.0,1834.0,93.0,2495.0,523.0,1894.0,78.0,...,50.0,69.0,84.0,122.0,234.0,112.0,148.0,89.0,36.0,58.0

In [4]:
X = data.ix[:, 14:]

In [5]:
X.head()

,# of Housing Units,# White,# White Male,# White Female,# Black,# Black Male,# Black Female,# White Not Hispanic,# White Not Hispanis Male,# White Not Hispanis Female,...,Family Income 35-40K,Family Income 40-45K,Family Income 45-50K,Family Income 50-60K,Family Income 60-75K,Family Income 75-100K,Family Income 100-125K,Family Income 125-150K,Family Income 150-200K,Family Income > 200K
0,3040.0,34754.0,17231.0,17523.0,121.0,60.0,61.0,34581.0,17137.0,17444.0,...,453.0,572.0,528.0,1217.0,1261.0,1697.0,623.0,401.0,234.0,96.0
1,478.0,2980.0,1577.0,1403.0,17.0,8.0,9.0,2361.0,1194.0,1167.0,...,20.0,29.0,33.0,79.0,123.0,116.0,91.0,54.0,56.0,46.0
2,2700.0,60224.0,29335.0,30889.0,3764.0,1781.0,1983.0,59498.0,28884.0,30614.0,...,1041.0,919.0,987.0,1570.0,2209.0,1819.0,1210.0,745.0,437.0,339.0
3,556.0,11899.0,6966.0,4933.0,750.0,578.0,172.0,2677.0,1795.0,882.0,...,96.0,119.0,75.0,213.0,320.0,350.0,188.0,69.0,64.0,79.0
4,326.0,4661.0,2298.0,2363.0,12.0,1.0,11.0,4535.0,2247.0,2288.0,...,50.0,69.0,84.0,122.0,234.0,112.0,148.0,89.0,36.0,58.0

In [6]:
del X["Population"]

In [7]:
X = X.apply(lambda x: x / data["Population"])

In [8]:
X.head()

,# of Housing Units,# White,# White Male,# White Female,# Black,# Black Male,# Black Female,# White Not Hispanic,# White Not Hispanis Male,# White Not Hispanis Female,...,Family Income 35-40K,Family Income 40-45K,Family Income 45-50K,Family Income 50-60K,Family Income 60-75K,Family Income 75-100K,Family Income 100-125K,Family Income 125-150K,Family Income 150-200K,Family Income > 200K
0,0.082517,0.943351,0.467713,0.475639,0.003284,0.001629,0.001656,0.938655,0.465161,0.473494,...,0.012296,0.015526,0.014332,0.033034,0.034228,0.046063,0.016911,0.010885,0.006352,0.002606
1,0.139848,0.871855,0.461381,0.410474,0.004974,0.002341,0.002633,0.690755,0.349327,0.341428,...,0.005851,0.008484,0.009655,0.023113,0.035986,0.033938,0.026624,0.015799,0.016384,0.013458
2,0.040779,0.909577,0.443053,0.466524,0.056849,0.026899,0.029950,0.898612,0.436242,0.462370,...,0.015722,0.013880,0.014907,0.023712,0.033363,0.027473,0.018275,0.011252,0.006600,0.005120
3,0.039777,0.851266,0.498355,0.352912,0.053656,0.041351,0.012305,0.191515,0.128416,0.063099,...,0.006868,0.008513,0.005366,0.015238,0.022893,0.025039,0.013450,0.004936,0.004579,0.005652
4,0.067551,0.965810,0.476171,0.489639,0.002487,0.000207,0.002279,0.939702,0.465603,0.474099,...,0.010361,0.014298,0.017406,0.025280,0.048487,0.023208,0.030667,0.018442,0.007460,0.012018

In [9]:
X["# Female"].describe()

count    2628.000000
mean        0.500386
std         0.022183
min         0.302915
25%         0.496416
50%         0.504755
75%         0.511384
max         0.571966
Name: # Female, dtype: float64

In [10]:
voter_turn_out = data["total_2016"] - data["total_2012"]

In [11]:
from sklearn.linear_model import LinearRegression

In [12]:
X = X * 100

In [13]:
X.shape

(2628, 119)

In [14]:
linear = LinearRegression()

In [15]:
linear.fit(X, voter_turn_out)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [16]:
for name, val in sorted(zip(X.columns, linear.coef_), key=lambda x: x[1], reverse=True):
    print((name, val))

('Median Age Male', 35273.860299653905)
('Median Age Female', 14903.935966891951)
('Rail Road', 8814.3766146147937)
('Family Income > 200K', 3049.9008713594717)
('Moved From Abroad White', 2675.020037522846)
('HS or equal', 2658.6651162152498)
('Total Moving White', 2585.6870454585942)
('Other State-Bachelor', 2495.9051199867345)
('Graduate', 2457.4716516865096)
('Family Income 125-150K', 2284.1992306021039)
('Family Income 150-200K', 2250.1983121520148)
('No Vehicle Owned', 2229.9841806845379)
('In State-Less than HS', 2134.8441168842924)
('Family Income 100-125K', 2093.645998593141)
('Other State-Less than HS', 1725.9416588164067)
('In State-Bachelor', 1636.9291933644913)
('Family Income 75-100K', 1366.1599178436029)
('Public Transportation', 1046.0014325030434)
('Income < 10K', 920.03628001649167)
('Family Income 60-75K', 844.4556938609162)
('Other State-Some College', 818.02963755389555)
('In State-Some College', 812.11617145943251)
('# Male', 709.39649665300635)
('Total Reporing 0 Income', 629.77643641179566)
('2 vehicles', 586.9010396928843)
('1 vehicle', 563.13203408831396)
('Total In Poverty Pool', 561.36953273427207)
('Moved From Different State', 558.50787972124635)
('# Black Female', 547.08182004680816)
('# White Female', 436.58013545717677)
('Income 15-25K', 432.23065083228198)
('Total Reporting Income', 388.7282878394808)
('Moved Within County White', 386.64564327518065)
('Family Income 40-45K', 368.90498005010113)
('Work at Home', 368.49565431971951)
('100% below povery line', 364.57865027966363)
('Moved Within Same State White', 331.28669010944168)
('Income 25-35K', 301.66719216707452)
('Education Count', 276.07410222444048)
('3 vehicles', 273.59680615824072)
('# White Not Hispanis Male', 236.11204910395523)
('Income 10-15K', 230.62074355530967)
('Income 35-50K', 207.34788253534589)
('Same house 1 year ago', 199.49663069199596)
('Family Income 50-60K', 140.65731406431883)
('Drive Alone', 138.79413395110396)
('5 or more vehicles', 128.34069515506235)
('1-1.5X of poverty line', 116.0125675508516)
('# of Housing Units', 106.84617546802372)
('At above 150% poverty line', 80.778314908122411)
('Family Income 25-30K', 80.328369792539661)
('4 vehicles', 65.865528825892397)
('Family Income 10-15K', 58.048551049152934)
('Work in State', 51.876552739928229)
('Foreign Born below 100% poverty', 44.830110897216855)
('# Hispanic Female', 43.160421646635427)
('Work in County', 36.211192577431575)
('# Black', 30.693229531949271)
('Work outside County', 15.665360165986385)
('Median Income', 8.3390387975414342)
('Median Income Foreign Born', 2.0700625518543347)
('Median Income Born In State', 1.5491640627515153)
('Median Income Born Outside US: Native', 0.20597368170615482)
('Family Income < 10K', -11.22136962743798)
('Family Income 20-25K', -12.265453780952839)
('Median Income Born Other State', -12.349574718029544)
('Family Income 30-35K', -13.957365155101911)
('Family Income 45-50K', -50.563895339129772)
('# Hispanic', -168.07973783259158)
('Same house 1 year ago White', -192.10082276524099)
('Total Means of Transportation Work', -197.21934778548848)
('Born Other State at/above 1.5X poverty line', -206.12363556059881)
('# Hispanic Male', -211.24015947349426)
('Moved Within County', -216.26536424444748)
('Foreign Born 1-1.5X of poverty line', -233.97322444208885)
('Work by car: truck: van', -238.20997928393626)
('Total Reporting with Income', -241.04814857017118)
('Work outside State', -249.09590053373995)
('# White Not Hispanic', -267.94025490797776)
('Separated', -275.14373212026896)
('Income 50-65K', -289.75317503435645)
('Moved Within Same State', -334.65184411950804)
('Foreign Born at/above 1.5X poverty line', -368.89024940499075)
('Divorced', -372.9979285416328)
('Total Born In State education', -375.46446842501155)
('Car pooled', -377.00411323559274)
('Citizen: born in US', -421.98504336276898)
('# White Not Hispanis Female', -504.0523040272376)
('Family Income 35-40K', -511.69154464911378)
('# Black Male', -516.38859051073302)
('Born Other State 1-1.5X of poverty line', -540.56415349389044)
('Born In State at/above 1.5X poverty line', -565.80736702627019)
('Currently Married', -571.28798013998255)
('Moved From Different State White', -615.16450268048538)
('Born In State 1-1.5X of poverty line', -622.34301427855644)
('Born in Other State Education', -670.23218866503521)
('Citizen by Naturalization', -682.94658002202095)
('Foreign born naturalized', -682.94658003023528)
('# Female', -709.39649665190575)
('Never Married', -733.8507367709874)
('Some College-AA', -815.66285069844696)
('Walked', -846.12598506448012)
('Income 65-75K', -850.82441188192024)
('Born In State below 100% poverty', -969.48066401191409)
('Born Other State below 100% poverty', -997.72293683711791)
('Income > 75K', -1192.3733107479693)
('# White', -1304.2629150561509)
('# White Male', -1740.8430506610632)
('Bachelor', -1883.2364846496039)
('Total Moving', -1901.2540137793344)
('Moved From Abroad', -2108.3413158242238)
('Less Than HS', -2141.1633303235349)
('In State-Graduate', -2296.0206548412352)
('Other State-HS or equal', -2394.881095817077)
('In State-HS or equal', -2663.3332952993997)
('Bicycle', -2736.5557626573623)
('Ferry Boat', -3072.2693080449571)
('Other State-Graduate', -3315.2275091954816)
('Median Age', -50111.438619583787)

In [17]:
from sklearn.linear_model import LassoCV

In [18]:
lasso = LassoCV()

In [19]:
lasso.fit(X, voter_turn_out)

/opt/conda/lib/python3.5/site-packages/sklearn/linear_model/coordinate_descent.py:479: ConvergenceWarning: Objective did not converge. You might want to increase the number of iterations. Fitting data with very small alpha may cause precision problems.
  ConvergenceWarning)

LassoCV(alphas=None, copy_X=True, cv=None, eps=0.001, fit_intercept=True,
    max_iter=1000, n_alphas=100, n_jobs=1, normalize=False, positive=False,
    precompute='auto', random_state=None, selection='cyclic', tol=0.0001,
    verbose=False)

In [20]:
keep_vars = []

for name, val in zip(X.columns, lasso.coef_):    
    if val != 0:
        keep_vars.append(name)

In [21]:
linear = LinearRegression()

In [23]:
linear.fit(X[keep_vars], voter_turn_out)

LinearRegression(copy_X=True, fit_intercept=True, n_jobs=1, normalize=False)

In [24]:
for name, val in sorted(zip(X.columns, linear.coef_), key=lambda x: x[1], reverse=True):
    if val != 0:
        print((name, val))

('In State-Some College', 9872.7561185049144)
('Other State-Less than HS', 2058.9858569503672)
('# Hispanic Male', 1288.4624821200146)
('In State-HS or equal', 845.68878360072529)
('Median Age Male', 496.55432424656192)
('HS or equal', 401.19128869224431)
('# White', 363.68263718331627)
('# Female', 359.28511922859684)
('Other State-Some College', 352.17363970568852)
('# White Female', 293.88876481382579)
('Other State-HS or equal', 274.16132283847315)
('Graduate', 246.65760644245992)
('Bachelor', 198.10990608368564)
('Some College-AA', 189.65179171791351)
('# White Not Hispanis Female', 146.54675332255715)
('# of Housing Units', 112.42024521513521)
('Less Than HS', 91.94225346885284)
('Total Born In State education', 89.712109861520091)
('Other State-Bachelor', 79.907528031328454)
('Education Count', 35.320520899747613)
('Citizen: born in US', 17.899793709838555)
('Separated', 15.14643544401876)
('In State-Graduate', 1.8623403333036568)
('Never Married', 0.37454060582691456)
('Currently Married', 0.28836681033440692)
('Total Reporting Income', -4.2217307379840276)
('Citizen by Naturalization', -4.2484527703507009)
('Foreign born naturalized', -13.253934063202809)
('# White Male', -49.197114098830227)
('Median Age', -61.51565277672465)
('Other State-Graduate', -127.47113072094477)
('# Black Male', -178.21188013034276)
('Divorced', -181.94648775334809)
('# Hispanic Female', -235.59663360027244)
('# Hispanic', -266.20894280011566)
('# Black', -301.39174879909041)
('Born in Other State Education', -326.20181607677222)
('# White Not Hispanic', -365.54679791393056)
('Median Age Female', -456.96294788179819)
('In State-Less than HS', -571.87697176543895)
('# Black Female', -678.06935393257868)
('# Male', -861.11227682332185)
('In State-Bachelor', -920.88773165014595)
('# White Not Hispanis Male', -1367.3106203798766)

How some of these can be interpretted.

('# Female', 359.28511922859684)

After adjusting for other predictors, each 1% increase in the number of females in a county is associated with an increase in the mean voter turn out from 2012 to 2016 by 359 voters.

In [ ]:
diff_voting_2012 = data["dem_2012"] - data["gop_2012"]
diff_voting_2016 = data["dem_2016"] - data["gop_2016"]

y = diff_voting_2016 - diff_voting_2012

In [ ]:
ratio_2012 = data["dem_2012"] / data["total_2012"] - 0.5
ratio_2016 = data["dem_2016"] / data["total_2016"] - 0.5

ratio_change = diff_voting_2016 - diff_voting_2012